.grid {
  border: 2px solid black;
  height: 520px;
  width: 360px;
  /* display and flex wrap are important for making sure the squares fit into the container */
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  height: 40px;
  width: 40px;

  /* this makes each "square" is 40 by 40 and there will be a 9x13  grid */
}

.c1,
.c5 {
  background-color: black;
}

.c2,
.c3,
.c4,
/* .c5, */
.c6 {
  background-color: rgba(184, 201, 208, 255);
}

.ending-block {
  background-image: url(/images/dragonfly.png);
}

.starting-block {
  background-color: #00ba0c;
}

.grass {
  background-color: #00ba0c;
}

.l4,
.l5 {
  background-color: rgba(81, 111, 253, 255);
}

/* ////////////////////////////////////////////////////////////// */

.l1 {
  background-image: url(/images/leftLog.png);
  z-index: 1;
}
.l2 {
  background-image: url(/images/middleLog.png);
  z-index: 1;
}
.l3 {
  background-image: url(/images/rightLog.png);
  z-index: 1;
}

.road {
  background-color: rgba(184, 201, 208, 255);
}

.car-right.c1,
.car-right.c5 {
  background-image: url(/images/redCarGoingRight.png);
}

.car-left.c1,
.car-left.c5 {
  background-image: url(/images/redCarGoingLeft.png);
}

.snake-left.s1{
  background-image: url(/images/snekLeft.png);
}
.snake-right.s1{
  background-image: url(/images/snekRight.png);
}

.frog {
  background-image: url(/images/bigFroggy.png);
  z-index: 2;
}
